<svg id="icon--cart" viewBox="0 0 512 512">
    <path d="M467.6 490.6l-31.2-347c-.9-9.5-8.8-16.7-18.3-16.7h-64.2v-29C353.9 43.9 310 0 256 0s-97.9 43.9-97.9 97.9v29H93.8c-9.5 0-17.5 7.3-18.3 16.7L44.2 492c-.5 5.1 1.3 10.2 4.7 14 3.5 3.8 8.4 6 13.6 6h387c10.2 0 18.4-8.2 18.4-18.4 0-1-.1-2-.3-3zM194.8 97.9c0-33.7 27.4-61.2 61.2-61.2 33.7 0 61.2 27.4 61.2 61.2v29H194.8v-29zM82.6 475.2l28-311.6h47.5v32.9c0 10.1 8.2 18.4 18.4 18.4s18.4-8.2 18.4-18.4v-32.9h122.4v32.9c0 10.1 8.2 18.4 18.4 18.4s18.4-8.2 18.4-18.4v-32.9h47.4l28 311.6H82.6z"></path>
</svg>