<svg id="icon--user" viewBox="0 0 512 512">
    <path d="M364.7 314.2C405.6 282 432 232.1 432 176 432 78.8 353.2 0 256 0S80 78.8 80 176c0 56.1 26.4 106 67.3 138.2C73.9 351.6 22.3 425.5 16.6 512h32c6.2-81 58.8-148.9 131.3-177.5 23 11.1 48.8 17.5 76 17.5 27.3 0 53-6.4 76-17.5C404.5 363.1 457.2 431 463.4 512h32c-5.7-86.5-57.3-160.4-130.7-197.8zM256 320c-79.5 0-144-64.5-144-144S176.5 32 256 32s144 64.5 144 144-64.5 144-144 144z"></path>
</svg>