footer.footer
  .container
    .footer--top
      .row
        .col-md-7
          .row
            .col-md-4.col-sm-4
              .widget
                h3.widget-title Помощь
                ul
                  li
                    a(href="") Как оформить заказ
                  li
                    a(href="") Как оформить заказ
                  li
                    a(href="") Как оформить заказ
            .col-md-4.col-sm-4
              .widget
                h3.widget-title Помощь
                ul
                  li
                    a(href="") Как оформить заказ
                  li
                    a(href="") Как оформить заказ
                  li
                    a(href="") Как оформить заказ
            .col-md-4.col-sm-4
              .widget
                h3.widget-title Помощь
                ul
                  li
                    a(href="") Как оформить заказ
                  li
                    a(href="") Как оформить заказ
                  li
                    a(href="") Как оформить заказ
        .col-md-5
          
    .footer--bottom
      span.footer__copyright  &copy; KSUCTA - online shop 2020
        

        
