header.header
	nav.top-nav.header--top
		.container
			ul.top-nav__list
				li.menu-item
					a(href="#") Каталог
				li.menu-item
					a(href="#") Доставка и оплата
				li.menu-item
					a(href="#") Обратная связь
				li.menu-item
					a(href="#") Контакты
	.header--center
		.container
			.row.justify-content-between
				.col-3
					.header__logo
						a(href="")
							.header__logo-title KSUCTA SHOP
								span online shop
				.col-9
					.d-flex.justify-end.align-center
						.header__block.d-flex.align-center
							.header__contact-column.d-flex.align-center
								.header__contact-icon
									include ../icons/ic-time
								.header__contact-info
									.header__contact-row.d-flex.justify-between
										span Пн-Пт:&nbsp;
										| 09:00 - 19:00
									.header__contact-row.d-flex.justify-between
										span Сб-Вс:&nbsp;
										| 10:00 - 17:00
							.header__contact-column.d-flex.align-center
								.header__contact-icon
									include ../icons/ic-phone
								.header__contact-info
									.header__contact-row
										a(href="tel:8(555)555-55-55") 8 (555) 555-55-55
									.header__contact-row
										button(id="callback" type="button") Обратный звонок
						.header__block
							a(href="#").header__login
								.header__login-icon
									include ../icons/ic-user
								.header__login-text Аккаунт
						.header__block
							a(href="#").header__cart
								.header__cart-icon
									include ../icons/ic-cart
								.header__cart-text Корзина
	include ./main-search