section.default-page
  .container
    .section-header.section-header
      h2.section-header__title Информационная страница
      p.section-header__description аваываываывав
    .section-body
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda corporis facilis molestias tempora error, quisquam, sint accusantium nam aspernatur recusandae minus ea iusto illum magni aut nostrum at! Ducimus dolorum voluptate at in molestias tenetur minima maxime, dolore animi exercitationem reprehenderit ipsa, consectetur, quisquam fugit eveniet suscipit cumque autem recusandae dolorem. Consectetur dolores ratione quaerat error maiores quidem. Qui expedita minus quaerat molestias totam quibusdam commodi architecto vero, quisquam odit. Eum ea repellendus nesciunt omnis sunt alias aliquid. Doloremque nobis rem tempora atque quas accusamus sequi dolorem quo praesentium, recusandae iste possimus adipisci maiores suscipit alias fugit sapiente a. Vel, quae ea! Nesciunt, illo. Culpa, inventore quidem. Itaque doloremque deserunt ullam id ab est, officiis qui quisquam temporibus beatae pariatur corporis possimus reiciendis expedita quae! Saepe eaque dolorem eveniet, in, quo ratione, architecto eligendi error vitae fugiat nihil facilis iste distinctio odit laborum excepturi dolore sint officia non! Aperiam, reiciendis.
                
