.d-flex {
  display: flex;
  align-items: center;
}
.align-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.direction-column {
  flex-direction: column;
}