.footer {
  background-color: $bg-gray;
  &--top {
    padding: rem(34px) 0 rem(28px);
    border-bottom: 1px solid #eee;
    .widget {
      &-title {
        font-weight: 500;
        font-size: rem(18px);
        margin-bottom: rem(15px);
      }
      ul {
        @include notList;
        li {
          margin-bottom: rem(10px);
          a {
            text-decoration: none;
            color: #555;
            transition: all .2s ease;
            &:hover {
              color: $accent;
            }
          }
        }
      }
    }
  }
  &--bottom {
    padding: rem(25px) 0;
  }
  &__copyright {
    color: #888;
  }
}
