.top-nav {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  &__list {
    @include notList;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    margin-left: rem(-12px);
    .menu-item {
      &:hover {
        a {
          box-shadow: inset 0 4px 10px rgba(0, 0, 0, .16);
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        min-height: rem(36px);
        padding: rem(12px);
        text-decoration: none;
        font-size: rem(14px);
      }
    }
  }
}
.header {
  &--center {
    padding: rem(26px) 0;
  }
  &__logo {
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #000;
      img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: scale-down;
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      font-size: rem(32px);
      span {
        font-size: rem(18px);
      }
    }
  }
  &__block {
    margin-right: rem(30px);
    &:last-child {
      margin-right: 0;
    }
  }
  &__contact {
    &-column {
      padding-right: rem(30px);
      &:nth-child(2) {
        border-right: 1px solid #dadada;
      }
    }
    &-row {
      white-space: nowrap;
      &:nth-child(2) {
        margin-top: rem(6px);
      }
    }
    &-icon {
      width: rem(34px);
      min-width: rem(34px);
      margin-right: rem(10px);
      svg {
        width: 100%;
        height: auto;
      }
    }
    &-info {
      font-size: rem(18px);
      font-weight: 600;
      a {
        color: #000;
      }
      span, button {
        display: inline-block;
        font-size: rem(16px);
        font-weight: 400;
        color: #666;
      }
      button:hover {
        text-decoration: underline;
      }
    }
  }
  &__login, &__cart {
    &-icon {
      width: rem(28px);
      min-width: rem(28px);
      margin: 0 auto;
    }
    &-text {
      font-size: rem(12px);
      margin-top: rem(4px);
      color: #666;
    }
  }
}
